$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?45cd19a21389a9f2d27f64b238c6605b") format("truetype"),
url("./flaticon.woff?45cd19a21389a9f2d27f64b238c6605b") format("woff"),
url("./flaticon.woff2?45cd19a21389a9f2d27f64b238c6605b") format("woff2"),
url("./flaticon.eot?45cd19a21389a9f2d27f64b238c6605b#iefix") format("embedded-opentype"),
url("./flaticon.svg?45cd19a21389a9f2d27f64b238c6605b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "alarm-clock": "\f101",
    "chatting": "\f102",
    "coding": "\f103",
    "home": "\f104",
    "users": "\f105",
);

.flaticon-alarm-clock:before {
    content: map-get($flaticon-map, "alarm-clock");
}
.flaticon-chatting:before {
    content: map-get($flaticon-map, "chatting");
}
.flaticon-coding:before {
    content: map-get($flaticon-map, "coding");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-users:before {
    content: map-get($flaticon-map, "users");
}
